{% extends 'game/base.html' %}
{% block content %}
<!--
Room
- Chatbox
- Input chat
- Players in the room
- Start game
- Buttons for actions/counteractions/challenge
-->

<div class='container py-5'>
    <div class='row'>
        <div class='col-11'>
            <h3 id='room-name'>{{room_name}}</h3>
        </div>
        <div class='col-1'>
            <h3 id='user-name'>{{user.get_username}}</h3>
        </div>
    </div>
    <div class='row'>
        <div class='col-4 border' style='height:400px'>
            <div readonly id='message-log' style='height:100%;width:100%;border:none;overflow-y:scroll'>messagelog</div>
        </div>
        <div class='col-8 border' style='height:400px'>
            <div class='row' style='height:300px;' id='game-view'>
            </div>
            <div class='row border' style='height:100px;' id='player-view'>
                asdf
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-4 border' style='height:35px'>
            <input id="message-input" type="text" style='height:100%;width:100%'><br>
        </div>
        <div class='col-8 border' style='height:35px'>
            <Button id='message-submit' class='btn btn-primary btn-sm'>Send</Button>
            <Button onclick="sendGameControl(this, null)" class='btn btn-primary btn-sm' id='start-game'>Start Game</Button>
        </div>
    </div>
    <div class='row'>
        <div class='col-12 border' style='height:40px' id='player-influence' hidden>
        </div>
    </div>
    <div class='row'>
        <div class='col-12 border' style='height:40px'>
        Actions
        <Button onclick="sendPlayerMoveFromDOMElement(this)" class='btn btn-warning btn-sm' id='income'>Income</Button>
        <Button onclick="sendPlayerMoveFromDOMElement(this)" class='btn btn-warning btn-sm' id='foreign-aid'>Foreign Aid</Button>
        <Button onclick="sendPlayerMoveFromDOMElement(this)" class='btn btn-warning btn-sm' id='tax'>Tax (Duke)</Button>
        <Button onclick="showPickTargetButtons(this)" class='btn btn-warning btn-sm' id='steal'>Steal (Captain)</Button>
        <Button onclick="showPickTargetButtons(this)" class='btn btn-warning btn-sm' id='assassinate'>Assassinate (Assassin)</Button>
        <Button onclick="sendPlayerMoveFromDOMElement(this)" class='btn btn-warning btn-sm' id='exchange'>Exchange (Ambassador)</Button>
        <Button onclick="showPickTargetButtons(this)" class='btn btn-warning btn-sm' id='coup'>Coup</Button>
        <Button onclick="sendPlayerMoveFromDOMElement(this)" class='btn btn-dark btn-sm' id='pass'>Pass</Button>
        </div>
    </div>
    <div class='row'>
        <div class='col-12 border' style='height:40px'>
        Counteractions
        <Button onclick="sendPlayerMoveFromDOMElement(this)" class='btn btn-warning btn-sm' id='block-foreign-aid'>Block Foreign Aid (Duke)</Button>
        <Button onclick="sendPlayerMoveFromDOMElement(this)" class='btn btn-warning btn-sm' id='block-steal'>Block Steal (Captain/Ambassador)</Button>
        <Button onclick="sendPlayerMoveFromDOMElement(this)" class='btn btn-warning btn-sm' id='block-assassination'>Block Assassination (Contessa)</Button>
        </div>
    </div>
    <div class='row'>
        <div class='col-12 border' style='height:40px'>
        Challenge
            <Button onclick="sendPlayerMoveFromDOMElement(this)" class='btn btn-warning btn-sm' id='challenge'>Challenge</Button>
        </div>
    </div>
</div>

<script>
    /*********************************/
    /*       Utilities               */
    /*********************************/
    const disableButtonArray = (buttonIdArray) => {
        setButtonDisableProp(buttonIdArray, true);
    };

    const enableButtonArray = (buttonIdArray) => {
        setButtonDisableProp(buttonIdArray, false);
        setAutoToggleButtonHiddenProp(buttonIdArray, false);
    };

    const setAutoToggleButtonHiddenProp = (buttonIdArray, hiddenFlag) => {
        buttonIdArray.forEach( 
            (buttonId) => {
                $("[id^=" + buttonId).prop('hidden', hiddenFlag);
            }
        )
    }

    const setButtonDisableProp = (buttonIdArray, disableFlag) => {
        if (buttonIdArray.length == 0)
            return;
        buttonIdArray.forEach( 
            (buttonId) => {
                $('#'+buttonId).prop('disabled', disableFlag);
            }
        );
    };

    const sendGameControl = (elem, val) => {
        console.log('Send control: ' + elem.id + ', value: ' + val);
        gameSocket.send(JSON.stringify({
            'type': 'game.control',
            'player': '{{user.get_username}}',
            'control': elem.id,
            'value': val
        }))
    }

    const sendPlayerMoveFromDOMElement = (elem) => {
        sendPlayerMove(elem.id, null);
    };


    const showPickTargetButtons = (elem) => {
        const move = elem.id;
        $('.select-target').html(move);
        $('.select-target').prop('hidden', false);
    }

    const sendMoveWithTarget = (elem, target) => {
        $('.select-target').prop('hidden', true);
        sendPlayerMove(elem.innerHTML, target);
    }

    const toggleButtonAndSendLoseInfluenceMove = (elem, cardToLose) => {
        sendPlayerMove('lose-influence', cardToLose);
    }

    const sendPlayerMove = (move, target) => {
        console.log('Send move: ' + move + ' ' + target);
        gameSocket.send(JSON.stringify({
            'type': 'game.move',
            'player': '{{user.get_username}}',
            'move': move,
            'target': target
        }))
    }
    /*********************************/
    /*       Global variables        */
    /*********************************/
    const gameplayButtons = [
        'income', 
        'foreign-aid', 
        'tax', 
        'steal', 
        'assassinate', 
        'exchange',
        'coup',
        'block-foreign-aid', 
        'block-steal', 
        'block-assassination',
        'challenge',
        'pass',
    ]

    const roomName = document.getElementById('room-name').textContent;

    const gameSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/message/'
        + roomName
        + '/'
    );


    /*********************************/
    /*       Socket Handlers         */
    /*********************************/
    gameSocket.onmessage = function(e) {
        console.log('Received message ' + e.data);
        const data = JSON.parse(e.data);
        if (data.type == "chat") {
            document.querySelector('#message-log').innerHTML += '<div>' + data.message + '</div>';
        } else if (data.type == "frontend.update") {
            const {game_view, player_view, interface} = data;
            if (game_view != undefined)
                updateGameViewComponent(game_view);
            if (player_view != undefined)
                updatePlayerViewComponent(player_view);
            if (interface != undefined)
                updateInterface(interface);
        } else {
            console.log('unhandled event type' + e.data)
        }
    };

    gameSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#message-input').focus();
    document.querySelector('#message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#message-submit').click();
        }
    };

    document.querySelector('#message-submit').onclick = function(e) {
        const messageInputElem = document.querySelector('#message-input');
        const message = messageInputElem.value;
        gameSocket.send(JSON.stringify({
            'type': 'chat',
            'player': '{{user.get_username}}',
            'message': message
        }))
        messageInputElem.value = '';
    };

    /*********************************/
    /*         Componenets           */
    /*********************************/

    const generateGameViewCardComponent = (card) => {
        style = 'height:80px;'
        return "<span class='col border badge badge-light' style=" + style + ">" +
                card +
                "</span>"
    }

    const generatePlayerViewCardComponent = (card, status, idx) => {
        spanClass = 'border col badge '
        spanCSSStyle = 'height:80px;width:100px'
        spanInnerHTML = card
        if (status == 'died') {
            spanClass += 'badge-danger'
            spanInnerHTML += ' DEAD'
        } else {
            spanClass += 'badge-light'
        }

        clickHandler = "toggleButtonAndSendLoseInfluenceMove(this, '" + card + "')";
        
        return "<span class=\'" + spanClass + "\' style=\'" + spanCSSStyle + "\'>" +
                spanInnerHTML +
                "<Button id='" + card + idx + "' " +
                "onclick=\"" + clickHandler + "\" " + 
                "class='btn btn-danger btn-sm' hidden>kill</Button>" +
                "</span>"
    }
    const generatePlayerStateComponent = (playerState) => {
        const {player, seat, coins, cards, status, turn} = playerState;
        if (player == undefined) {
            // Empty seat
            return  "<div class='col-2 border' style='height:200px'>" +
                        "<p>Empty Seat " + seat + "</p>" +
                        "<Button onclick=\"sendGameControl(this, " + seat + ")\" class='btn badge-primary' id='change-seat'>+</div>" +
                    "</div>"
        } else if (coins == undefined) {
            // Show joined player 
            return  "<div class='col-2 border' style='height:200px'>" +
                        "<h3>" + player + "</h3>" +
                    "</div>"
        } else {
            // Show player in game state
            return  "<div class='col-2 border player-state' style='height:200px'>" +
                        "<h3>" + player + "</h3>" + 
                        "<p>Coins " + coins + "</p>" +
                        "<div class='row'>" +
                           generateGameViewCardComponent(cards[0]) +
                           generateGameViewCardComponent(cards[1]) +
                       "</div>" +
                        "<Button onclick='sendMoveWithTarget(this, \""+ player + "\")' class='btn btn-danger btn-sm select-target' hidden>Select</Button>" +
                    "</div>"
        }
    };

    const updateGameViewComponent = (gameViewStateArray) => {
        // Get updated state and seated players
        // Update seatNumToPlayer
        gameView = document.querySelector('#game-view')
        gameView.innerHTML = ''
        gameViewStateArray.forEach(state => gameView.innerHTML += generatePlayerStateComponent(state))
    };

    const updatePlayerViewComponent = (playerViewState) => {
        console.log(playerViewState)
        const {cards, coins, player} = playerViewState;
        playerView = document.querySelector('#player-view')
        playerView.innerHTML = 
            "<div style='width:100px'>" +
            "coins: " + coins +
            "</div>" +
            "<div>" + 
            generatePlayerViewCardComponent(cards[0].name, cards[0].status, 0) + 
            "</div>" + 
            "<div>" +
            generatePlayerViewCardComponent(cards[1].name, cards[1].status, 1) + 
            "</div>"
    }

    const updateInterface = (interfaceArray) => {
        disableButtonArray(gameplayButtons);
        enableButtonArray(interfaceArray);
    };

</script>

{% endblock content %}